html {
    height: 100%;
    scroll-behavior: smooth;
    overflow: hidden;
    font-family: 'Be Vietnam Pro', sans-serif;
    box-sizing: border-box;
    animation: suave 0.3s;
    scroll-behavior: smooth;
}

#chatbox:target {
    scroll-margin-top: .8em;
}
@keyframes bounce { 
    0% { transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    4.7% { transform: matrix3d(0.45, 0, 0, 0, 0, 0.45, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    9.41% { transform: matrix3d(0.883, 0, 0, 0, 0, 0.883, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    14.11% { transform: matrix3d(1.141, 0, 0, 0, 0, 1.141, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    18.72% { transform: matrix3d(1.212, 0, 0, 0, 0, 1.212, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    24.32% { transform: matrix3d(1.151, 0, 0, 0, 0, 1.151, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    29.93% { transform: matrix3d(1.048, 0, 0, 0, 0, 1.048, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    35.54% { transform: matrix3d(0.979, 0, 0, 0, 0, 0.979, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    41.04% { transform: matrix3d(0.961, 0, 0, 0, 0, 0.961, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    52.15% { transform: matrix3d(0.991, 0, 0, 0, 0, 0.991, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    63.26% { transform: matrix3d(1.007, 0, 0, 0, 0, 1.007, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    85.49% { transform: matrix3d(0.999, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    100% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); } 
  }
.box-pequeno {
    animation: left 0.3s;
    box-sizing: border-box;
    transition: 0.5s;
   
    padding: 10px;
    width: 96%;
    background-color: #292a2e;
    margin: 0 auto;
    border-radius: 20px;
}

body {

    height: 100%;
    font: 12px arial;
    background-color: #292a2e;
    text-align: center;
    padding: 5px;
}


/* width */

::-webkit-scrollbar {
    width: 1px;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: rgba(47, 241, 151, 1);
    border-radius: 10px;
}


/* Handle on hover */

.campotop {
    width: 100%;
    left: 0;
    position: absolute;
}

.campo {
    margin: 0 auto;
    width: 100%;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    justify-content: center;
    display: flex;
    flex-direction: row;
}

a {
    color: #0000FF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

@keyframes left {
    from {
        margin-left: -1000px;
        filter: blur(10px);
    }
    to {
        margin-left: 0;
        filter: blur(0);
    }
}
li strong {
    cursor: pointer;
}
#wrapper {
    animation: left 0.3s;
    box-sizing: border-box;
    transition: all 1.5s;
   
    overflow: scroll;
   
    padding: 10px;
    width: 100%;
    height: 70%;
    background-color: rgba(0, 0, 0, 0.0);
    margin: 0 auto;
    border-radius: 15px;
}

#loginform {
    padding-top: 18px;
}

#loginform p {
    margin: 5px;
}

#chatbox {
    color: white;
    text-align: left;
    margin: 0 auto;
    margin-bottom: 5px;
    padding: 0px;
    background-color: transparent;
    height: auto;
    overflow-x:hidden;
    width: 90%;
    border: 0;
   
    border-radius: 10px;
}

.usermsg {
    width: 390px;
    padding: 10px;
    border: none;
    background: #fff;
    resize: none;
    border-radius: 5px;
}

.newmsg {
    border-radius: 10px 10px 10px 0;
    border: 1px solid rgba(0, 0, 0, 0.103);
    background: rgb(255, 255, 255);
    background: linear-gradient(90deg, transparent 0%, rgb(36, 36, 36) 100%);
    text-align: right;
}

.newmsg #hora {
    padding-bottom: 15px;
    float: left;
}

.button {
    display: none;
    margin-left: 0px;
    background-color: transparent;
    color: rgba(47, 241, 151, 1);
    padding: 11px 15px;
    border: none;
    
    cursor: pointer;
    width: 40px;
    height: 50px;
    transition: 0.5s;
    margin-bottom: 10px;
    opacity: 0.9;
    border-radius: 10px;
    background: transparent;
    outline: none;
}

.button:hover {
    background: transparent;
    outline: none;
    transition: 0.5s;
}

.button i {
    background: transparent;
    outline: none;
    transition: 0.5s;
    zoom: 160%;
}

.button i:hover {
    transition: 0.5s;
    transform: scale(105%);
}

#button:hover {
    transition: 0.5s;
}

.error {
    color: #ff0000;
}

#menu {
    padding: 12.5px 25px 12.5px 25px;
}

.welcome {
    float: left;
    font-size: 20px;
    color: rgba(47, 241, 151, 1);
}

.msgapagada {
    font-size: 10pt;
    color: red;
}

strong {
    font-size: 7pt;
    color: rgba(47, 241, 151, 1);
}

li button {
    cursor: pointer;
    background-color: transparent;
    color: red;
    border: 0;
    border-radius: 1px;
    float: right;
    zoom: 120%;
    margin-top: 15px;
}

.login {
    float: right;
    background-color: rgb(35, 140, 182);
    color: white;
    padding: 10px 14px;
    border: none;
    cursor: pointer;
    width: 18%;
    margin-bottom: 10px;
    opacity: 0.8;
    border-radius: 5px;
    font-size: 10px;
    margin-right: 2px;
}

.login:hover {
    background-color: rgb(110, 196, 230);
    color: white;
}

.msgln {
    margin: 0 0 2px 0;
}


ul {
    padding: 2px;
    list-style-type: none;
}

li {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    animation: bounce  0.4s;
    background: rgb(255, 255, 255);
    background: linear-gradient(90deg, transparent 100%, black 100%);
    border-radius: 10px 10px 0 10px;
    padding: 15px;
    margin-top: 15px;
    transition: all 0.5s;
    border: 0px solid rgba(255, 255, 255, 0.103);
    display: list-item;
    text-align: -webkit-match-parent;
    font-size: 16px;
}

#hora {
    float: right;
    font-size: 7pt;
}

@keyframes suave {
    0% {
        filter: blur(20px);
    }
    100% {
        filter: blur(0px);
    }
}

@media screen and (max-width: 718px) {

    .button {
        display: block;
    }
}

.input {
    font-size: 11pt;
    outline: none;
    padding: 10px;
    color: white;
    background-color: transparent;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    animation: suave 0.4s;
    border: 1px solid rgba(47, 241, 151, 1);
    border-radius: 10px;
    width: 75%;
    height: 26px;
}

input::placeholder {
    color: white;
}

@keyframes suave {
    0% {
        filter: blur(10px);
    }
    100% {
        filter: blur(0);
    }
}

.btn-pequeno {
    margin-left: 10px;
    border: 1px solid gray;
    font-size: 8pt;
    width: 55%;
    border-radius: 5px;
    background-color: transparent;
    color: white;
    float: right;
    transition: 0.5s;
}

.btn-pequeno:hover {
    transition: 0.5s;
    border: 1px solid rgba(47, 241, 151, 1);
    color: rgba(47, 241, 151, 1);
}